@import url('../../app.css');

.contact-container {
    margin: 10px;
    padding: 10px;

}

.contact-title {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.contact-title h1 {
    text-transform: uppercase;
    font-weight: 700;
}

.contact-content {
    padding: 10px;
    display: flex;
    flex-direction: row;

}

.contact-left-container {
    flex: 40%;
    margin: 10px;
    padding: 10px;

}

.contact-right-container {
    flex: 55%;
    margin: 10px;
    padding: 10px;
}

.contact-form-wrapper {
    margin: 5px;
    padding: 10px;

}

.search {
    grid-column: 0.75;
    grid-row: 0.6666666667;
    position: relative;
    display: flex;
    align-items: center;
}

.form_input {
    width: 80%;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 3.8rem;
    box-shadow: var(--base-shadow-active);
    background: none;
    font-family: inherit;
    color: var(--baseDark2);
}

.form_input::placeholder {
    color: var(--greyLight-3);
}

.form_input:focus {
    outline: none;

    box-shadow: var(--base-shadow);
}

.form_input:focus+.form_icon {
    color: var(--base3);
}

.form_icon{
    width: 2rem;
    height: 2rem;
    position: absolute;
    font-size: 2rem;
    padding: 0 1rem;
    display: flex;
    color: var(--textColor2);
    transition: 0.3s ease;
}
.form_icon ion-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    padding: 0.3rem;
    font-size: 1rem;
    transition: background-color 250ms linear;
    color: var(--baseDark2);
   
}