@import url('../../app.css');

body {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: -80px;
    right: 20px;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%);
    transition: background-color 0.5s;
    transition-delay: 0.3s;
    border-radius: 50%;
    z-index: 1000;
   
}

.menu.active {
    background-color: rgb(223, 145, 243);

}

.menu ion-icon {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 50%;
    transition: background-color 250ms linear;
    color: var(--baseDark2);
    background: var(--base2);
    border: 2px solid var(--base2);
    box-shadow: var(--base-shadow);
}

.menu .toggle {
    transition: transform 0.75s linear, background-color 250ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.menu .toggle ion-icon {
    width: 3.5rem;
    height: 3.5rem;
}

.menu .toggle.active {
    transform: rotate(300deg);
}

.menu .icon {
    position: absolute;
    transition: 0.75s ease-out;
    transform-origin: 125px;
    transform: rotate(0deg) translateX(125px) translateX(-50%);
    left: 0;
    transition-delay: calc(var(--i) * 0.1s);
}

.menu .icon.active {
    transform: rotate(calc(var(--i) * 60deg));
}

.menu .icon ion-icon {
    transition: 0.75s, background-color 200ms ease-in;
    transition-delay: rotate calc(var(--i) * 0.1s);
}

.menu .icon.active ion-icon {
    transform: rotate(calc(var(--i) * -60deg));
    z-index: 1001;
}

.menu .toggle ion-icon:hover{
    outline: none;
    box-shadow: var(--base-shadow-active);
    color: #ff014f;
    border-color: var(--base3);
}

.menu .icon.active ion-icon:hover {
    outline: none;
    box-shadow: var(--base-shadow-active);
   
    color: #ff014f;
    border-color: var(--base3);
}