@import url('../../app.css');

/* .card {
    margin: 10px;
    padding: 10px;
    width: 300px;
    background: var(--background-color-1);
    border-radius: 6px;
    box-shadow: var(--shadow-1);
    border-radius: 20px;

    transition: 500ms ease-out;
}

.card:hover {
    box-shadow: var(--shadow-2);
    transform: translateY(5px);

    border: 1px  solid black;
   
}



.thumbnail {
    margin: 10px;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    
}
 .thumbnail:hover img{
    transform: scale(1.5);
    border-radius: 10px;
}
.title {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.title .category-list {
    flex: 70%;
    text-transform: uppercase;
}

.title .category-list a {
    color: #ff014f;
    display: block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title .category-list a,
a:active,
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
}

.title .meta {
    flex: 30%;
    text-align: right;
}

.meta span a {

    height: 53px;
    line-height: 53px;
    width: 53px;

}

.meta span a {

    background: var(--background-color-1);
    border-radius: 6px;
    box-shadow: var(--shadow-2);
    display: inline-block;
    font-size: 14px;
    height: 60px;
    letter-spacing: 2px;
    line-height: 60px;
    position: relative;
    color: var(--color-gray);
    text-align: center;
    text-transform: uppercase;
    transition: 500ms ease-out;
    width: 60px;
    z-index: 1;

}

.meta span a:hover {
    box-shadow: var(--shadow-1);
    background: var(--background-color-1);
    transform: translateY(-5px);
   

}

.content h4 a {
    color: var(--color-lightn);
    display: inline-block;
    font-size: 23px;
    font-weight: 600;
    line-height: 34px;
    transition: 500ms ease-out;
    text-decoration: none;
}
.content h4 a:hover{
    color:#ff014f ;
} */

